<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="./css/index.css">
</head>

<body>
    {{>header}}
    <p class="help">The Geocode App allows the user to find the current longitude and latitude of any area.</p>
    {{>footer}}

    <script src="./js/index.js"></script>
</body>

</html>